body{
    background-color: #fbbd2a;
}

.Record{
    position: relative;
    display: flex;
    justify-content: center;
    
}
.record-image{
    position: absolute;
    top: 100px;
    width: 440px;
    transition: transform 0.5s ease-in;
    

}
.record-needle{
    position: absolute;
    width: 300px;
    right: 300px;
    top: 130px;
    z-index: 1;
    transition: transform 0.5s ease-in;
    transform-origin: 100% 0%;
}


.RecordNeedle_Shake {
    animation: tilt-shaking 0.3s infinite ease-in-out;

  }

@keyframes tilt-shaking{
    0% { transform: translateY(0) rotate(15deg);   }
    25% { transform: translateY(5px) rotate(13deg); }
    50% { transform: translateY(-5px) rotate(15deg); }
    75% { transform: translateY(5px) rotate(13deg);}
    100% { transform: translateY(0) rotate(15deg);}
  }
  
  .button-container{
    position: absolute;
    top: 500px;
    right: 300px;
   
    }
  .play-button{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    transition: all 0.15s;
    border: none;
  }
  .PlayText{
    margin-left: 40px;
  }
  .play-button img{
    width: 100px;
  }
  .play-button:hover{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
 
  .js-button{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    transition: all 0.15s;
    height: 113px;
    border: none;
  }
  .js-button img{
    width: 100px;
    height: 92.55px;
  }
  .js-button:hover{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .gif{
    position: absolute;
    width: 100px;
    height: 100px;
    pointer-events: none;
  }

  @keyframes rain{
    0% { transform: translateY(-100%);}
    100% { transform: translateY(100vh);}
  }
